/* .app {
  background-color: #363a3f;
} */
* {
  margin: 0;
}

.header {
  padding: 20px;
  background-color: #2f3135;
  color: whitesmoke;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card {
  display: flex;
  justify-content: center;
}
